<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>481996324292-bchip431aer6cfcbf1mjhhvcibcmcpin.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.481996324292-bchip431aer6cfcbf1mjhhvcibcmcpin</string>
	<key>API_KEY</key>
	<string>AIzaSyCQhXAl3rqh9kurIF3K7ZIsT_NNIAIf27o</string>
	<key>GCM_SENDER_ID</key>
	<string>481996324292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.torigian.SnapperKeeper</string>
	<key>PROJECT_ID</key>
	<string>snapperkeeper-10726</string>
	<key>STORAGE_BUCKET</key>
	<string>snapperkeeper-10726.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:481996324292:ios:a73c0ae8a37a34a2</string>
	<key>DATABASE_URL</key>
	<string>https://snapperkeeper-10726.firebaseio.com</string>
</dict>
</plist>